* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
}
.chessboard {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    border: 1px solid black;
    justify-content: center;
}
.rows {
    display: inline-flex;
    flex-wrap: nowrap;
}
.black {
    width: 80px;
    height: 80px;
    background-color: darkgreen;
    font-size:50px;
    text-align:center;
}
.white {
    width: 80px;
    height: 80px;
    background-color: rgb(221, 221, 221);
    font-size:50px;
    text-align:center;
}